.card-heading {
    margin-bottom: 40px;
}

.tarot-card-name {
    font-size: 2rem;
    font-weight: bold;
    color: #f3f4f6;
}

.tarot-detail {
    margin: auto;
    max-width: 800px;
    text-align: left;
}

.card-face-container {
    min-width:350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-face {
    image-rendering: pixelated;
}